.markdown-wrapper {
  :first-child {
    margin-top: 0;
  }
  svg {
    color: inherit;
    background-color: transparent;
  }
  img {
    max-width: 40%;
    min-height: 240px;
    max-height: 360px;
  }
}
